:root{
  font-size: 62,5%;
}

*{
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Staatliches';
}

body{
  width: 100vw;
  margin: 0 auto;
  background: #EFF1FF;
}

#page{
  overflow: hidden;
}

header{
  width: 100%;  
  background: #8E9AAF;

  display: flex;
  justify-content: center;  
  margin: 0 auto;
}

header div{
  width: 100%;
}

header div img{
  max-width: 13.7rem;
  max-height: 13.7rem;
  
  margin: 3.2rem auto;
}

header div h1{ 
  width: 100%;
  padding:  .8rem 0;
  margin-bottom: 3rem;
  
  background: #CBC0D3;
  
  font-size: 4rem;
  letter-spacing: 0.05em;
  line-height: 3.4rem;
  color: #ffffff;
}

header div .text{
  display: none;
}

main{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

main .text{
  max-width: 30.5rem;

  margin: 1.4rem auto 3rem;

  color: #23053A;

  font-family: 'Palanquin';
  font-size: 2rem;
  line-height: 1.5rem;
}

.cream_type{
  width: fit-content;
  position: relative;

  margin: 0 auto 3.2rem;

  border-radius: 2rem;
}

.cream_type h2{
  width:fit-content;
  
  padding: 0 2.4rem;
  border-radius: 2rem;

  position: absolute;
  right: 1.6rem;
  top: 1.6rem;

  font-size: 2rem;
  font-weight: normal;
  letter-spacing: 0.05em;
  line-height: 3.4rem;
  
  color: #4A4E69;
  
  background: #FEEAFA;
}

.cream_type img{
  width: 100%;

 /* padding: 0 1rem;*/

  animation-name: downTop;
  animation-delay: 200ms;
  animation-duration: 700ms;
}

.cream_type img:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition-duration: 700ms;
}

.cards div:nth-child(3){
  display: none;
}

.cards div:nth-child(4){
  display: none;
}

.contact{
  display: none;
}

@media (min-width: 600px) {
  
  body{
    max-width: 100%;
    max-height: 100vh;
  }

  #page{
    display: flex;
    gap:1rem;
  }

  header{ 
    margin: 0;
    min-height: 100vh;
  }

  main .text{
    display: none;
  }

  .cards{
    margin-right: 1rem;
  }

  header div .text{
    display: block;

    width: 95%;

    margin: 1.4rem auto 3rem;
  
    font: 'Roboto';
    font-size: 2rem;
    line-height: 2rem;
    color: #FFFFFF;
  }

  .cream_type{
    margin: .5rem auto;
  }

  .cream_type h2{
    margin: 0 auto;
    top: .5rem;
    right: .5rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .cream_type img{
    padding: 0;
  }

}

@media (min-width: 960px){
  
  header{ 
    width: 100%;  

    margin: 0;
  }

  header div img{
    margin: 1rem auto;
  }

  header div h1{ 
    font-size: 3rem;
    letter-spacing: 0;
    line-height: 3rem;

    margin-bottom: 1rem;
  }

  .page{
    gap:3.2rem;
  }

  main{
    width: 100%;
    margin-top: 2rem
  }

  .cream_type{
    width: fit-content;
    margin: 0;
  }

  .cards{
    display: grid;
    margin: 3rem auto;
    grid-template-areas: "A B"
    "F B"
    "F E";
    gap: 3.2rem;

  }

  .cards div:nth-child(1){
    grid-area: A;
  }

  .cards div:nth-child(2){
    grid-area: B;
  }

  .cards div:nth-child(5){
    grid-area: E;
  }

  .cards div:nth-child(6){
    grid-area: F;
  }

  .cream_type h2{
    display: none;
  }

  .cream_type img{
    width: 80%;
    border-radius: 2rem;
    animation-name: downTop;
    animation-delay: 200ms;
    animation-duration: 700ms;
  }

  .contact{
    display: block;
  }

  .contact p{
    margin: 2rem auto 0;

    font-family: 'Open sans';
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.8rem;
    color: #4A4E69;
  }

  .contact p span{
    font-weight: 700;
  }
}

@media (min-width: 1060px){

  header{ 
    width: 45%; 
  }

  header div img{
    width: 30%;
  }

  header div h1{ 
    width: 100%;

    padding: .8rem 0;
    margin: 0;
  }

  header div .text{
    width: 90%;

    margin: 2rem auto;
  }

.cards{
  grid-template-areas: "A B C"
  "D B F"
  "D E F";

  margin: 0 auto;
}

  .cards div:nth-child(3){
    grid-area: C;
    display: block;
  }

  .cards div:nth-child(4){
    grid-area: D;
    display: block;
  }

}

@keyframes topDown {
  0% {
      opacity: 0;
      transform: translateY(-15px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}

@keyframes downTop {
  0% {
      opacity: 0;
      transform: translateY(+15px);
  }

  100% {
      opacity: 1;
      transform: translateY(0);
  }
}